In [ ]:
root = open(
    "D:\Chatbot\Chatbot-University-Consultancy\data\invest_nlu_export.json", 'r', encoding="UTF-8")
root_lines = root.readlines()
print(len(root_lines))

In [4]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 18D5-0EFB

 Directory of d:\Chatbot\Chatbot\convert

08/27/2022  01:55 AM    <DIR>          .
08/27/2022  01:55 AM    <DIR>          ..
08/27/2022  01:46 AM            33,013 examples.txt
08/27/2022  01:40 AM                 0 get_data.ipynb
               2 File(s)         33,013 bytes
               2 Dir(s)  128,543,756,288 bytes free

In [1]:
import pandas as pd
df = pd.read_csv("entities.csv", encoding="utf-8")
df.head()

,major_name,type_edu,point,career,tuition,subject_group,criteria
0,kỹ thuật dệt,chính quy@đại trà,20.5,quản lý vận hành các dây chuyền sản xuất sợi d...,550000,a01@a1,90
1,kỹ thuật điện,chính quy@đại trà@kỹ sư tài năng,21.0,thiết kế thiết bị điện và điện tử công suất@th...,550000,a00@a,110
2,kỹ thuật hóa học,chính quy@đại trà@kỹ sư tài năng,21.5,quản lý vận hành và vận hành các hệ thống thiế...,550000,d07@d7,130
3,kỹ thuật môi trường,chính quy@đại trà,22.0,tư vấn thiết kế và thi công xây dựng công trìn...,550000,a00@a,150
4,kỹ thuật hàng không,chất lượng cao@tiên tiến,23.0,quản lý điều hành hoạt động bảo dưỡng máy bay@...,550000,a01@a1,190

In [2]:
f = open('examples.txt', 'w', encoding='utf-8')
for line in root_lines:
    f.write(line.split(',')[-2].replace('"text":"','').replace('"',''))
    f.write('\n')

In [2]:
major_name = list(df.major_name)
len(major_name)

34

In [3]:
f = open("major_info.txt", 'a', encoding="UTF-8")
for major in major_name:
    f.write('    - ['+str(major)+"](major_name) là ngành như thế nào"+'\n')

In [4]:
f.close()

In [47]:
f = open("major_type_edu.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi ngành ['+str(major)+"](major_name) đào tạo những hệ nào ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) đào tạo những hệ nào ạ"+'\n')

In [49]:
f = open("major_point.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu điểm ạ"+'\n')
for major in major_name[10:20]:
    f.write('Điểm sàn ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Năm nay ngành ['+str(major) +
            "](major_name) lấy bao nhiêu điểm ạ"+'\n')

In [54]:
f = open("major_career.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi cơ hội làm việc của ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[17:]:
    f.write('Học xong ngành ['+str(major) +
            "](major_name) thì làm gì"+'\n')

In [58]:
f = open("major_tuition.txt", 'w', encoding="UTF-8")
for major in major_name:
    f.write('Học phí của ngành ['+str(major) +
            "](major_name)"+'\n')

In [62]:
f = open("major_subject_group.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Em muốn học ngành ['+str(major) +
            "](major_name) thì theo khối gì ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) thi khối gì"+'\n')

In [68]:
f = open("major_criteria.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu chỉ tiêu"+'\n')
for major in major_name[10:20]:
    f.write('Chỉ tiêu ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Ngành ['+str(major) +
            "](major_name) của trường mình nhận bao nhiêu sinh viên ạ"+'\n')